html
head
  link(rel='stylesheet', href='../public/stylesheets/style.css')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title
  // 부트스트랩
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  body(style='margin:0;', onload="document.getElementsByName('m_id')[0].focus()", bgcolor='#edefed')
    div(style='padding:200px 200px 200px 200px;') 
        img(width='500px', src='/public/images/eunmall.png')
        a.btn.btn-primary.btn-lg(href='/admin/management')
          b 물건추가하기
          // /container
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
          // 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
