doctype html
html
  head
    link(rel='stylesheet', href='../public/stylesheets/style.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
    // 부트스트랩
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  body
    .row
      header
        nav.navbar.navbar-inverse.navbar-fixed-top.navbar-transparent
          .container-fluid
            .navbar-header
              a.navbar-brand(href='/')
                b HOME
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #navbar-main.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/auth/login')
                    b LOGIN
                li
                  a(href='/auth/register')
                    b JOINUS
                li
                  a(href='/views/cart')
                    b CART
                li
                  a(href='/views/order')
                    b ORDER
    .row(style='padding:50px 0px 0px 0px;')
      nav.col-md-2
        ul#logo.nav.nav-stacked.text-left
          img(width='250px', src='/images/eunmall.png')
          li.active
            p.lead
              font(color='#828282', size='4')
                b  ㅡ 
          li.active
            a(href='/products/new')
              font(color='#828282')
                b NEW
          li.active
            a(href='/products/bestseller')
              font(color='#828282')
                b BESTSELLER
          li.active
            p.lead
              font(color='#828282', size='4')
                b  ㅡ 
          li.active
            a(href='/products/sale')
              font(color='#828282')
                b SALE
          li.active
            a(href='/products/special')
              font(color='#828282')
                b SPECIAL
          li.active
            p.lead
              font(color='#828282', size='4')
                b  ㅡ 
          li.active
            a(href='/products/etc')
              font(color='#828282')
                b ETC
          li.active
            p.lead
              font(color='#828282', size='4')
                b  ㅡ
      nav.col-md-10
        .center-block
          block content
    // /container
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  hr
  footer
    p.lead
      font(color='#828282', size='4')
        b  진행상황 
    .progress.progress-striped.active
      .progress-bar(style='width: 40%')
