extends ../../layout
block content
  p
    h1
      font(color='#828282')
        b BESTSELLER
  p
    table
      each product in products
        .col-md-4
          a(href='/products/product_view',id="product_numview")
            div(align='center', width='300px',style='margin:10px 40px 10px 40px;')
              p.active
                img(width='300px',height="250px" ,src='../uploads/'+product.product_savefilename)
              p.active
                font(color='#828282', size='6')
                    b= product.product_name
              p.active
                font(color='#828282', size='4')
                    b 가격 : 
                    b= product.product_price
                    b  원
              p.active
                a.label.label-default(href='/carts',name='id',value=product.id) 카트
                a.label.label-default(style='margin:0px 0px 0px 10px;', href='',action='/orders', method='post') 주문하기
