extends ../layout
block content
  .jumbotron
    div(align='center')
      h1
        b 　　EunYeong
      p
        h1 　　MALL
      p
        h1 　　
          a.btn.btn-primary.btn-lg(href='/admin') AdminPage 접속하기
  p
    h1
      font(color='#828282')
        b 전체상품
  p
    table
      each product in products
        .col-md-4
          div(align='center', width='300px',style='margin:10px 10px 10px 10px;')
            p.active
              img(width='300px',height="250px" ,src='uploads/'+product.product_savefilename)
            p.active
              font(color='#828282', size='6')
                  b= product.product_name
            p.active
              font(color='#828282', size='4')
                  b 가격 : 
                  b= product.product_price
                  b  원
            p.active
              a.label.label-default(href='/carts',name='id',value=product.id) 카트
              a.label.label-default(style='margin:0px 0px 0px 10px;', href='',action='/orders', method='post') 주문하기
